.mainContainer {
    position: absolute;
    width: 1000px;
    height: 460px;
    left: 40px;
    top: 20px;
    opacity: 1;
}

.result_box {
    top: 50%;
    left: 50%;
    width: 370px;
    height: 320px;
    padding: 40px 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: absolute;
    margin-left: -200px;
    margin-top: -180px;
    font-family: OpenSansSemibold;
    font-size: 20px;
}

.resHeading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: OpenSansBold;
    font-size: 26px;
    display: none;
}

.resHeading img {
    width: 75px;
    margin-right: 15px;
}

.nrml-txt {
    font-size: 18px;
    margin-top: 10px;
}

.clsResult {
    border-top: 1px solid rgba(112, 112, 112, 0.29);
    margin: 40px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.score {
    padding: 8px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.29);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.btn-group {
    width: 370px;
}

.btn {
    background: #5B5B5B;
    border: 1px solid #707070;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-family: OpenSansRegular;
    color: #FFFFFF;
    padding: 4px 8px;
    width: 156px;
    float: left;
    cursor: pointer;
}

.btn.reviewBtn {
    margin-right: 10px;
}

.btn.retryBtn {
    margin-left: 10px;
}

.retryBtn.disabled {
    pointer-events: none;
    background: #959594;
}

.btn_center {
    margin: 0px auto !important;
    float: none;
}

.boxInst {
    top: 491px;
    left: 865px;
}